#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}
#wrapper {
  /* general container */
  width: 500px;
  height: 700px;
}

#body {
  
}

#footer {
  text-align: center;
  font-size: 0.8em;
  border: 2px;
  height: 20px;
  padding-top: 30px;
  /*position: fixed;*/
}


h2 {
  text-align: center;
  font-family: sans-serif;
}


body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}

tr {
  padding: 5px;
  height: 45px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.closeTab {
  background-image: url(/Images/red-close-button.png);
  background-repeat: no-repeat;
  background-position: 0px center; 

}


li {
  padding-bottom: 20px;
  text-align: left;
  font-size: 0.9em;
}